* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.icon {
  color: orange;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  padding: 4px 4px 5px 4px;
  font-size: 10px;
  margin: 15px;
}

body {
  height: 100vh;
  background-color: rgb(32, 30, 30);
}

.card {
  background-color: rgb(61, 57, 57);
  height: 300px;
  width: 250px;
  text-align: justify;
  margin: 200px 500px;
  border-radius: 15px;
  padding: 20px;
  position: fixed;
}

.card h2 {
  margin-bottom: 25px;
  color: white;
}

.card p {
  color: rgb(160, 148, 148);
  margin-bottom: 25px;
}
span {
  color: rgb(249, 243, 243);
  padding: 8px;
  background-color: rgb(98, 92, 92);
  margin-left: 15px;
  border-radius: 50%;
  text-align: center;
  /* margin-top: 3px; */
}

button {
  margin-top: 30px;
  /* position: center; */
  padding: 6px 75px;
  border-radius: 40px;
  color: white;
  background-color: rgb(247, 163, 7);
  border: none;
}
